[submodule "git"]
	path = dotfiles/submodules/git
	url = https://github.com/git/git
[submodule "neovim"]
	path = dotfiles/submodules/neovim
	url = https://github.com/neovim/neovim
[submodule "tmux"]
	path = dotfiles/submodules/tmux
	url = https://github.com/tmux/tmux
[submodule "dwm"]
	path = dotfiles/submodules/dwm
	url = https://github.com/ryanbeerbarron/dwm
[submodule "ii"]
	path = dotfiles/submodules/ii
	url = https://git.suckless.org/ii
[submodule "dmenu"]
	path = dotfiles/submodules/dmenu
	url = https://git.suckless.org/dmenu
[submodule "neovide"]
	path = dotfiles/submodules/neovide
	url = https://github.com/neovide/neovide
[submodule "alacritty"]
	path = dotfiles/submodules/alacritty
	url = https://github.com/alacritty/alacritty
[submodule "dwmblocks"]
	path = dotfiles/submodules/dwmblocks
	url = https://github.com/torrinfail/dwmblocks.git
[submodule "dotfiles/prompt"]
	path = dotfiles/prompt
	url = https://github.com/ryanbeerbarron/prompt
[submodule "dotfiles/submodules/gf2"]
	path = dotfiles/submodules/gf2
	url = https://github.com/nakst/gf/
[submodule "dotfiles/submodules/xcwd"]
	path = dotfiles/submodules/xcwd
	url = https://github.com/schischi/xcwd
[submodule "neovim-config"]
	path = .config/nvim
	url = https://github.com/ryanbeerbarron/neovim-config
