# Script to check if tracked files are not ignored:
# dotfiles ls-tree -r HEAD | tr "\t" " " | cut -d" " -f4 | 
# dotfiles check-ignore --no-index --stdin
#
# This will print every files tracked by git and then check if its ignored or not
# Result printed out are files that are ignored. If a file is not ignored, there is not output
/*
*.bak
# double check to ignore .ssh folder :)
/.ssh

# root whitelist
!.gitignore
!.bashrc
!.bash_profile
!.bash_logout
!.profile
!.gitmodules
!submodules

# .config whitelist
!.config
.config/*
!.config/alacritty
!.config/dircolors
!.config/gdb
!.config/git
!.config/newsboat
!.config/npm
!.config/nvim
!.config/pg
.config/pg/pgpass 
!.config/pythonstartup.py
!.config/readline
!.config/themes
!.config/tmux

# .local whitelist
!.local
.local/*
!.local/scripts
!.local/share
.local/share/*
!.local/share/bash
!.local/share/sh
!.local/share/notes
