[submodule "git"]
	path = dotfiles/submodules/git
	url = https://github.com/git/git
[submodule "neovim"]
	path = dotfiles/submodules/neovim
	url = https://github.com/neovim/neovim
[submodule "tmux"]
	path = dotfiles/submodules/tmux
	url = https://github.com/tmux/tmux
[submodule "dwm"]
	path = dotfiles/submodules/dwm
	url = https://github.com/ryanbeerbarron/dwm
[submodule "ii"]
	path = dotfiles/submodules/ii
	url = https://git.suckless.org/ii
[submodule ".config/nvim/pack/git-modules"]
	path = .config/nvim/pack/git-modules
    url = https://github.com/ryanbeerbarron/neovim-packages
[submodule "dmenu"]
	path = dotfiles/submodules/dmenu
	url = https://git.suckless.org/dmenu
[submodule "neovide"]
	path = dotfiles/submodules/neovide
	url = https://github.com/neovide/neovide
[submodule "alacritty"]
	path = dotfiles/submodules/alacritty
	url = https://github.com/alacritty/alacritty
[submodule "dwmblocks"]
	path = dotfiles/submodules/dwmblocks
	url = https://github.com/torrinfail/dwmblocks.git
