[submodule "git"]
	path = submodules/git
	url = https://github.com/git/git
[submodule "neovim"]
	path = submodules/neovim
	url = https://github.com/neovim/neovim
[submodule "tmux"]
	path = submodules/tmux
	url = https://github.com/tmux/tmux
[submodule "dwm"]
	path = submodules/dwm
	url = git@github.com:ryanbeerbarron/dwm
[submodule "ii"]
	path = submodules/ii
	url = https://git.suckless.org/ii
[submodule ".config/nvim/pack/git-modules"]
	path = .config/nvim/pack/git-modules
    url = git@github.com:ryanbeerbarron/neovim-packages
